<main class="main-page-wrapper">
    <!-- start slider area -->
    <div class="rn-slider-area">
        <div class="container">
            <div class="row row--30 pt--100 pt_sm--50">
                <div class="col-lg-6">
                    <div class="d-flex flex-wrap align-content-start h-100">
                        <div class="sticky-top-slider position-sticky sticky-top rbt-sticky-top-adjust-two">
                            <div class="banner-details-wrapper-sticky slide">
                                <div class="thumbnail">
                                    <img src="assets/images/slider/me2.png" alt="Personal Portfolio">
                                </div>
                                <div class="banner-title-area pt--30">
                                    <h1 class="title">
                                        Hi, I’m <span>Ojo Toba R.</span><br><span class="span">
                                            .NET Developer
                                        </span>
                                    </h1>
                                    <p class="disc">I work as a .NET Back-End Engineer at Decagon. I have passion for writing quality and reusable codes</p>
                                </div>
                                <div class="button-group text-center text-md-left pt--60 pt_md--40 pt_sm--40">
                                    <a class="rn-btn" href="https://drive.google.com/file/d/1C4wDWRHMteroTELzn1aIYK9arYXUaazJ/view?usp=sharing"><span>Download My CV</span></a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="sticky-home-wrapper">

                        <!-- about area -->
                        <div class="rn-about-area section-height">
                            <div class="inner">
                                <h5 class="title">
                                    About Me
                                </h5>
                                <p class="about-disc">
                                    I am a .NET Software Engineer with over 2 years of programming experience. I have participated in several
                                    team, as well as individual projects. I am proficient in the use of ASP.NET Framework to develop and deliver web applications
                                    from conceptualization to deployment. I also have experience writing programs in Python.
                                </p>
                            </div>
                        </div>
                        <!-- about area end -->
                        <!-- Start skiull area -->
                        <div class="rn-skill-area section-height">
                            <div class="inner slide">
                                <h5 class="title">
                                    Skills
                                </h5>
                                <div class="skill-share-inner pt--100">
                                    <ul class="skill-share d-flex liststyle">
                                        <li><img src="assets/images/icons/6458125_0.png" alt="Icons Images"></li>
                                        <li><img src="assets/images/icons/netcore (1).png" alt="Icons Images"></li>
                                        <li><img src="assets/images/icons/js (1).png" alt="Icons Images"></li>
                                        <li><img src="assets/images/icons/angular.png" alt="Icons Images"></li>
                                        <li><img src="assets/images/icons/icons-08.png" alt="Icons Images"></li>
                                        <li><img src="assets/images/icons/css3.png" alt="Icons Images"></li>
                                        <li><img src="assets/images/icons/sql.png" alt="Icons Images"></li>
                                        <li><img src="assets/images/icons/icons-18.png" alt="Icons Images"></li>
                                        <li><img src="assets/images/icons/ds (1).png" alt="Icons Images"></li>
                                        <li><img src="assets/images/icons/bootstrap (1).png" alt="Icons Images"></li>
                                        <li><img src="assets/images/icons/teams (1).png" alt="Icons Images"></li>
                                        <li><img src="assets/images/icons/agile (1).png" alt="Icons Images"></li>
                                        <li><img src="assets/images/icons/jira (1).png" alt="Icons Images"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                       
                        <!-- start portfolio area -->
                        <div data-aos="fade-left" data-aos-duration="500" data-aos-delay="200" data-aos-once="true" class="rn-portfolio-area single-card-sticky section-height">
                            <div class="inner">
                                <h5 class="title">
                                    Certifications
                                </h5>
                                <ul class="card-list">
                                    <li><a href="https://www.credly.com/badges/dfb8d978-2207-41c5-864c-31ed8500b715/public_url">Applied Data Science I, WorldQuant University - 06.2021.<i data-feather="arrow-right"></i></a></li>
                                    <li><a href="https://c46e136a583f7e334124-ac22991740ab4ff17e21daf2ed577041.ssl.cf1.rackcdn.com/Certificate/ScrumFundamentalsCertified-TobaOjo-874726.pdf">SCRUM Fundamentals Certified, SCRUMstudy - 09.2021.<i data-feather="arrow-right"></i></a></li>
                                    <li><a href="#">Digital Marketring Fundamentals, SMstudy - 01.2022.<i data-feather="arrow-right"></i></a></li>

                                </ul>
                            </div>
                        </div>
                        <!-- End portfolio area -->
                        <!-- start testimonial area -->
                        <div data-aos="fade-left" data-aos-duration="500" data-aos-delay="200" data-aos-once="true" class="rn-testimonial-area testimonial-style-2 section-height">
                            <div class="inner">
                                <h5 class="title">
                                    Projects
                                </h5>
                                <!-- carousel area Start -->
                                <div class="rn-testimonial-carousel mb-5 testimonial-item-one rn-slick-dot-style dot-position-left slick-arrow-style-one arrow-top-align">
                                    <!-- Start Portfolio Area -->
                                    <!-- Start Portfolio Area -->
                                    <div class="rn-portfolio-area rn-section-gap" id="portfolio">
                                        <!-- Start Single Portfolio -->
                                        <div data-aos="fade-up" data-aos-delay="100" data-aos-once="true" class="col">
                                            <div class="rn-portfolio" data-toggle="modal" data-target="#exampleModalCenter">
                                                <div class="inner">
                                                    <div class="thumbnail">
                                                        <a href="https://carr-x.herokuapp.com">
                                                            <img src="https://res.cloudinary.com/deotr/image/upload/v1644358468/carxPhoto_gdqlw5.png" alt="Personal Portfolio Images">
                                                        </a>
                                                    </div>
                                                    <div class="content">

                                                        <h4 class="title">
                                                            <a href="https://carr-x.herokuapp.com">
                                                                CarX Car Sales & Services<i class="feather-arrow-up-right"></i>
                                                            </a>
                                                        </h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Single Portfolio -->
                                    </div>
                                    <div class="rn-portfolio-area rn-section-gap" id="portfolio">
                                        <!-- Start Single Portfolio -->
                                        <div data-aos="fade-up" data-aos-delay="100" data-aos-once="true" class="col">
                                            <div class="rn-portfolio" data-toggle="modal" data-target="#exampleModalCenter">
                                                <div class="inner">
                                                    <div class="thumbnail">
                                                        <a href="https://spring-board-gamma.vercel.app">
                                                            <img src="https://res.cloudinary.com/enigmatr/image/upload/v1642533505/springboard_iptf8u.png" alt="Personal Portfolio Images">
                                                        </a>
                                                    </div>
                                                    <div class="content">

                                                        <h4 class="title">
                                                            <a href="https://spring-board-gamma.vercel.app">
                                                                Spring Board Job Listing Web App<i class="feather-arrow-up-right"></i>
                                                            </a>
                                                        </h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Single Portfolio -->
                                    </div>
                                    <!-- End portfolio Area -->
                                    <!-- Start Portfolio Area -->
                                    <div class="rn-portfolio-area rn-section-gap" id="portfolio">
                                        <!-- Start Single Portfolio -->
                                        <div data-aos="fade-up" data-aos-delay="100" data-aos-once="true" class="col">
                                            <div class="rn-portfolio" data-toggle="modal" data-target="#exampleModalCenter">
                                                <div class="inner">
                                                    <div class="thumbnail">
                                                        <a href="#">
                                                            <img src="https://res.cloudinary.com/deotr/image/upload/v1644358459/starpointbeauty_fixad7.png" alt="Personal Portfolio Images">
                                                        </a>
                                                    </div>
                                                    <div class="content">

                                                        <h4 class="title">
                                                            <a href="#">
                                                                Star Point Appointment Booking Web Page<i class="feather-arrow-up-right"></i>
                                                            </a>
                                                        </h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Single Portfolio -->
                                    </div>

                                    <!-- carousel area End -->
                                </div>
                            </div>
                            <!-- End testimonial area -->
                            <!-- Start contact area -->
                            <div data-aos="fade-left" data-aos-duration="500" data-aos-delay="200" data-aos-once="true" class="rn-contact-area section-height">
                                <div class="inner">
                                    <h5 class="title">
                                        Contact Me
                                    </h5>
                                    <!--Newly added-->
                                    <div class="col mb-3">
                                        <div class="contact-about-area">
                                            <div class="description">
                                                <span class="phone">Phone: <a href="tel:+2348035222858">+234803 522 2858</a></span>
                                                <span class="mail">Email: <a href="mailto:ojotobar@gmail.com">ojotobar@gmail.com</a></span>
                                            </div>
                                            <div class="social-area">
                                                <div class="name">FIND ME</div>
                                                <div class="social-icone">
                                                    <a href="https://www.facebook.com/toba.ojo1"><i data-feather="facebook"></i></a>
                                                    <a href="https://www.linkedin.com/in/toba-ojo-13439490"><i data-feather="linkedin"></i></a>
                                                    <a href="https://www.instagram.com/ojotobar"><i data-feather="instagram"></i></a>
                                                    <a href="https://www.github.com/Enigmatr"><i data-feather="github"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end of newly added-->
                                    <!-- Form area Srart -->
                                    <div class="contact-form-wrapper">
                                        <div class="introduce">
                                            <form class="row" action="https://formsubmit.co/ojotobar@gmail.com" method="POST">
                                                <div class="col-lg-12 col-xl-6">
                                                    <div class="form-group">
                                                        <label for="name">Your Name</label>
                                                        <input class="form-control form-control-lg" name="name" id="name" type="text" required>
                                                    </div>
                                                </div>

                                                <div class="col-lg-12 col-xl-6">
                                                    <div class="form-group">
                                                        <label for="phone">Phone Number</label>
                                                        <input class="form-control" name="phone" id="phone" type="text" required>
                                                    </div>
                                                </div>

                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label for="email">Email</label>
                                                        <input class="form-control form-control-sm" id="email" name="email" type="email">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label for="subject">subject</label>
                                                        <input class="form-control form-control-sm" id="subject" name="subject" type="text" required>
                                                    </div>
                                                </div>
                                                <input type="hidden" name="_captcha" value="false" />
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label for="message">Your Message</label>
                                                        <textarea name="message" id="message" cols="30" rows="10" required></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <button type="submit" class="rn-btn">
                                                        <span>SEND MESSAGE</span>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                                            <polyline points="12 5 19 12 12 19"></polyline>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- Form area End -->
                                </div>
                            </div>
                            <!-- End contact area -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End slider area -->
        <!-- Back to  top Start -->
        <div class="backto-top">
            <div>
                <i data-feather="arrow-up"></i>
            </div>
        </div>
        <!-- Back to top end -->
</main>